html,
body,
#root {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}

#game {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#start-button:hover {
    color: rgb(33 91 64);
    background-color: white !important;
    outline: rgb(33 91 64);
}
